@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
  font-family: 'MingLiU';
  src: url('./fonts/MingLiU.eot');
  src: url('./fonts/MingLiU.eot?#iefix') format('embedded-opentype'),
      url('./fonts/MingLiU.woff2') format('woff2'),
      url('./fonts/MingLiU.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* Root */
:root {

  --mingliu: 'MingLiU';
  --siberia-blue: #B6FFFE;
  --black: #00241D;
  --dark-grey: #555555;
  --white: #ffffff;
  --red: #FF0000;
  --blue: #403F8B;
  --thin: 960px;

  --border-blk: 1px solid var(--black);

  --color-primary: 20 20 20; /* Text, buttons, etc. */
  --color-contrast: 250 250 249; /* Backgrounds, borders, etc. */
  --color-accent: 191 72 0; /* Labels like "On sale" */
  --font-size-fine: 0.75rem; /* text-xs */
  --font-size-copy: 1rem; /* text-base */
  --font-size-lead: 1.125rem; /* text-lg */
  --font-size-heading: 2rem; /* text-2xl */
  --font-size-display: 3rem; /* text-4xl */
  --color-shop-pay: #5a31f4;
  --shop-pay-button--width: 100%; /* Sets the width for the shop-pay-button web component */
  --height-nav: 0rem;
  --screen-height: 100vh;
  --screen-height-dynamic: 100vh;

  @media (min-width: 32em) {
    --height-nav: 4rem;
  }
  @media (min-width: 48em) {
    --height-nav: 6rem;
    --font-size-heading: 2.25rem; /* text-4xl */
    --font-size-display: 3.75rem; /* text-6xl */
  }
  @supports (height: 100svh) {
    --screen-height: 100svh;
  }
  @supports (height: 100dvh) {
    --screen-height-dynamic: 100dvh;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 250 250 250;
    --color-contrast: 32 33 36;
    --color-accent: 235 86 40;
  }
}


@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

shop-pay-button {
  width: 100%;
  height: 3rem;
  display: table;
}

@layer base {
  * {
    font-variant-ligatures: none;
    box-sizing: border-box;
  }

  body {
    /* @apply border-primary/10 bg-contrast text-primary/90 antialiased; */
    font-family: 'Times New Roman';

  }

  html, body {
    /* scroll-behavior: smooth !important; */
  }

  model-viewer::part(default-progress-mask) {
    display: none;
  }

  model-viewer::part(default-progress-bar) {
    display: none;
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  a.active {
    @apply border-b;
  }


}

@layer components {
  .article {
    img {
      @apply md:-mx-8 lg:-mx-16;

      @media (min-width: 48em) {
        width: calc(100% + 4rem);
        max-width: 100vw;
      }
      @media (min-width: 64em) {
        width: calc(100% + 8rem);
      }
    }
  }

  .swimlane {
    @apply grid w-full snap-x snap-mandatory scroll-px-6 grid-flow-col justify-start gap-4 overflow-x-scroll px-6 pb-4;
  }
}

@layer utilities {
  .fadeIn {
    opacity: 0;
    animation: fadeInAnimation ease 500ms forwards;
  }

  .hiddenScroll {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .strike {
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 108%;
      height: 1.5px;
      left: -4%;
      top: 50%;
      transform: translateY(-50%);
      background: rgb(var(--color-primary));
      box-shadow: 0.5px 0.5px 0px 0.5px rgb(var(--color-contrast));
    }
  }

  .card-image {
    @apply relative flex items-center justify-center overflow-clip rounded;
    &::before {
      content: ' ';
      @apply absolute top-0 left-0 z-10 block h-full w-full rounded shadow-border;
    }
    img {
      @apply aspect-[inherit] w-full object-cover;
    }
  }
}


/* =================================================================== */
/* RESETS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
    line-height: 1;
    font-size: 100%;
    overflow-x: hidden;
    color: var(--black);
    background: var(--white);
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

/*
  Layout Component
*/
.layout-component {
  position: relative;
}

/*
  Topbar 
*/
.topbar {
  width: 100%;
  max-width: 100%;
  position: fixed;
  z-index: 810;
  top: 0;
  right: 0;
  left: 0;

  .wrapper {
    width: 100%;
    max-width: var(--thin);
    margin: 0 auto;
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logo {
      font-size: 1.8rem;
      letter-spacing: 0.1rem;
      font-family: var(--mingliu);
    }
    .logo.home-logo {
      opacity: 0;
    }

    .hamburger {
      width: 60px;
      cursor: pointer;

      img {
        width: 100%;
      }

    }

  }

}

/* 
  Hero Navigation
*/
.hero-navigation {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  position: relative;

  > .wrapper {
    display: grid;
    grid-template-columns: 50vw 1fr;
    height: 100%;
    align-items: center;
  }

  .left {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: left;
      width: 50%;
    }

    .title {
      width: 100%;

      h1 {
        font-size: 4rem;
        text-transform: lowercase;
        letter-spacing: 0.04rem;
        color: var(--black);
        font-family: var(--mingliu);
      }

    }

    .links {
      width: 100%;
      margin-top: 120px;
      font-size: 1.3rem;
      color: var(--black);
      letter-spacing: 0px;
      text-transform: lowercase;

      ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      span {
        cursor: pointer;
      }
      span:hover {
        text-decoration: underline;
        font-weight: bold;
      }

    }

  }

  .right {

    img {
      max-width: 400px;
    }

    .floater {
      position: absolute;
    }

    .suffer.floater {
      max-width: 180px;
    }

  }

}

/*
  Pages
*/
.page-component {
  display: none;
  opacity: 0;
  transform: translateY(800px);
  min-height: 100vh;
}

/* 
  Modules
*/
#modules {
  display: block;
  margin: 0 auto 0 auto;
  width: 100%;
  max-width: var(--thin);
  position: relative;
}

/* 
  Home Collection
*/
.home-collection {

  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  max-width: 100%;
  color: var(--black);

  img {
    max-width: 100%;
  }

  ul {
    list-style: none;
  }

  /* Grid Changer */
  .grid-changer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    img {
      width: 28px;
      height: 28px;
      margin-left: 12px;
      cursor: pointer;
      transition: all 0.24s ease;
    }
    
  }

  /* Grid Wrapper */
  .grid-view {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    width: 100%;
    max-width: var(--thin);
    padding: 0px;
    margin: 0px auto;

    
    .sale-indicator > span {
      position: absolute;
      left: -2.1rem;
      top: 0.2rem;
      background: var(--black);
      color: var(--red);
      padding: 3px 4px;
      font-style: italic;
      font-size: .74rem;
      letter-spacing: 1px;
      text-transform: lowercase;
    }

  }

  /* List View - Desktop */
  .list-view {

    ul {

      .desktop {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
        align-items: center;

        .vendor h2 {
          font-family: var(--mingliu);
        }

        .title h2 {
          font-family: var(--mingliu);
        }

        .price {
          text-align: center;
        }
      }

      .mobile {
        display: none;
        grid-template-columns: 2fr 1fr 1fr;
        align-items: center;

        .vendor h2 {
          font-family: var(--mingliu);
        }

        .title h2 {
          font-family: var(--mingliu);
        }

      }

      li:hover {
        background: var(--black);
        color: var(--white);
      }

      .sale-indicator > span {
        position: relative;
        /* left: -2.1rem;
        top: 0.2rem; */
        background: var(--black);
        color: var(--red);
        padding: 3px 4px;
        font-style: italic;
        font-size: .74rem;
        letter-spacing: 1px;
        text-transform: lowercase;
      }

      .image {
        img {
          max-width: 120px;
        }
      }

    }

  }

  .pagination {
    font-size: 1rem;
    margin-right: 12px;
  }

}

/* 
  Card
*/
.product-card {

  .product-info {
    position: relative;
    margin-left: 30px;
    width: calc(100% - 30px);
    font-size: 1.1rem;
    letter-spacing: -1px;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .product-title h3 {
    display: block;
    text-align: left;
    color: var(--dark-grey);
  }

}

/*
  Plus Filters
*/
.shop-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.plus-hamburger {
  opacity: 0;
  cursor: pointer;

  img {
    width: 44px;
    height: 44px;
  } 

  .plus {
    display: flex;
    justify-content: flex-end;
  }

}


/* Header */
.plus-overlay {
  overflow: hidden;
  min-width: 250px;
  background: var(--white);
  color: var(--black);
  border: 2px solid var(--black);
  display: none;
  margin-bottom: 20px;

  ul.header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    max-width: 100%;
    padding: 20px;

    li {
      font-size: 0.8rem;
      text-align: center;
      padding: 6px 0px;
      display: inline;
    }

  }

  ul.list {
    display: flex;
    flex-direction: column;
    border-top: 2px solid var(--black);
    counter-reset: filters;

    li {
      border-bottom: 2px solid var(--black);
      padding: 20px 12px;
      font-size: 1.2rem;
      counter-increment: filters;

      span::before {
        content: "0" counter(filters) " - ";
      }

    }

    li:hover {
      background: var(--black);
      color: var(--red);
    }

    li:last-of-type {
      border-bottom: 0px;
    }

  }

  ul.footer {
    border-top: 2px solid var(--black);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li {
      font-size: 0.8rem;
      text-align: center;
    }

    li:hover {
      text-decoration: underline;
    }    

  }

  .active {
    background: var(--black);
    color: var(--red);
  }

}

/* 
  Footer 
*/
footer {
  text-transform: lowercase;
  min-height: auto;
  position: absolute;
  bottom: 0;
  right: 0;

  ul {
    padding: 40px 20px 80px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    color: var(--black);
    font-size: 16px;
  }
}

/* 
  Marquee
*/
.marquee-container {
  position: fixed !important;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  overflow: hidden;
  background: var(--siberia-blue);
  transition: height 0.24s ease-in-out;
  padding: 10px 0;

  .marquee {
    .child {
      font-size: 1.4rem;
      font-family: var(--mingliu);
      letter-spacing: 0px;
    }
  }

}

.marquee-container.pushed {
  height: 0px;
}

/*
  Newsletter Modal 
*/
.newsletter-modal {
  position: fixed;
  float: left;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;

  .wrapper {
    max-width: 420px;
    background: var(--white);
    border: 1px solid var(--black);
  }

  .action-bar {
    background: var(--black);
    color: var(--red);
    text-align: left;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.9rem;
  }

  .close {
    cursor: pointer;
  }

  .newsletter-body {
    padding: 10px;
  }

  .warning {
    text-align: center;
    width: 100%;
    font-size: 0.9rem;
    padding: 10px 40px;
  }

  .newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .newsletter-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  form {
    width: 100%;
  }

  input {
    display: block;
    background: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
    margin: 10px auto;
  }

  input[type="email"] {
    width: 100%;
    padding: 4px;
    font-size: 0.8rem;
  }

  input[type="submit"] {
    padding: 4px 14px;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

}

/* Cart Modal */
.cart-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  top: 0;
  left: 0;
  right: 0;
  background: var(--white);
  z-index: 800;
  display: none;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 140px 20px 80px 20px;

  div {
    width: 100%;
  }

  /* Header */
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 94%;
    max-width: var(--thin);
    margin: 0 auto;
    text-transform: uppercase;
    padding: 0 0 40px 0;

    .title {
      font-size: 1.3rem;
    }

    .logo {
      display: flex;
      justify-content: flex-end;
    }

    img {
      width: 100px;
      max-width: 100%;
    }

  }

  .amount {
    span {
      text-align: right;
    }
  }

  .cart-route {
    width: 94%;
    max-width: var(--thin);
  }

  button {
    padding: 10px 20px;
    border: 1px solid var(--black);
    font-size: 1.2rem;
    border-radius: 0px !important;
  }

  span {
    text-align: center;
  }

  .cart {
    width: 100%;
  }

  .underscore {
    width: 100%;
    height: 1px;
    background: var(--black);
  }


  .disclaimer-text {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 0.8rem;

    a {
      text-decoration: underline;
    }

  }

}

.cart-modal::-webkit-scrollbar {
  display: none;
}
  
/* Empty Cart */
.empty-cart {

  .text-holder {
    text-align: center;
  }

  .button-holder {
    text-align: center;
  }

}
  
/* Line Items */
ul.cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1rem;

  button,
  input {
    color: var(--black);
  }

  li.line-item {
    width: 100%;

    .item-wrapper.desktop {
      display: grid;
      grid-template-columns: 2fr 2fr 2fr 1fr 1fr 1fr auto auto;
      grid-gap: 40px;
      align-items: center;
    }
    .item-wrapper.mobile {
      display: none;
    }

    .image {

    }

    .vendor {
      font-family: var(--mingliu);
    }

    .title {
      font-family: var(--mingliu);
    }

    .quantity-container {
      display: flex;
      flex-direction: row;
      text-align: center;
      gap: 18px;
    }

    button {
      padding: 0px;
      line-height: 1;
      border: 0px;
      font-size: 1.2rem;
    }

    .size {
      text-align: center;
    }

    .color {
      .swatch {
        aspect-ratio: 1/1;
        width: 20px;
        height: 20px;
        display: inline-block;
        border: var(--border-blk);
      }
    }

    .edit {
      text-align: center;
      text-decoration: underline;
      font-size: 1rem;
    }

    .delete {
      text-align: right;
    }

    .delete button {
      text-decoration: underline;
      font-size: 1rem;
    }

  }

}

  
/* Subtotal */
.subtotal-container {
  margin: 40px 0 0 0;
  padding: 20px 0;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
  }
    
}

  
/* Checkout Button */
.checkout-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px; 

  a.checkout-button {
    text-align: center;
    border: 1px solid var(--black);
    border-radius: 0px;
    display: inline;
    padding: 10px 40px;
    font-size: 1rem;
  }

}

  
/* Credit Cards */
.credit-card-container {
  padding: 0 0 60px 0;

  ul.credit-cards-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

}



/*
  ABOUT COMPONENT
*/
.about.page-component {

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding-top: 100px;
  }

  h2 {
    font-size: 2rem;
  }

  .right {
    img {
      width: 100%;
    }
  }

}

/*
  ===========================
  SINGLE PRODUCT
  ===========================
*/
.single-product {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 160px;

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
    align-items: center;
    width: 94%;
    max-width: var(--thin);
  }

  .gallery {
    .card-image {
      overflow: unset;
    }
    img {
      max-width: 100%;
    }
  }

  /* TITLE */
  .title.desktop {
    display: flex;
    flex-direction: row;

    h1 {
      font-family: var(--mingliu);
      font-size: 1.4rem;
    }
  }

  .title.mobile {
    display: none;
  }

  .product-form {

    /* Global */
    li.variant-link a:hover {
      text-decoration: underline;
    }

    li.variant-link a.active {
      text-decoration: underline;
      font-weight: bold;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .actions-header {
      display: grid;
      grid-template-columns: auto 2fr 1fr;
      align-items: stretch;
      width: 100%;
      border: 1px solid var(--black);
      margin: 40px 0 0 0;
      border-collapse: collapse;

      form {
        display: inline;
        width: auto;
      }

      .price {
        padding: 10px;
        height: auto;
        border-right: 1px solid var(--black);
        display: flex;
        align-items: center;
      }

      .size-holder {
        padding: 0 0 0 20px;
        display: flex;
        align-items: center;
        position: relative;

        img {
          width: 20px;
          max-width: 100%;
        }

        .size-select-body {
          padding: 10px 0;
          position: absolute;
          top: 0px;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 2;
          background: var(--white);
          display: flex;
          align-items: center;
          justify-content: center;

          ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10px;
          }
        }
      }

      .button {
        padding: 0px;
        border-left: 1px solid var(--black);

        span {
          white-space: nowrap;
        }
      }

      .button:hover {
        background: var(--black);
        color: var(--white);
      }

      summary {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        gap: 4px;

        .title {
          display: flex;
          align-items: center;
        }
        .icon {
          display: flex;
          align-items: center;
        }
      }

    }

    .description {
      display: block;
      width:  100%;

      h3 {
        margin: 0 0 14px 0;
      }

    }

    /* 
      Product Details 
      The lower half of the product page info. contains the accordions
    */
    .product-details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;

      summary {
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
      }

      .details-body {
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        gap: 20px;
      }

      /* Colors */
      .colors {
        ul.list {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
      .colors li[data-type="Size"] {
        display: none;
      }

      /* Size Chart */
      .size-chart {

        summary {
          text-align: right;
        }

        .label-holder {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }

        .data-holder {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .data > .list {
            display: flex;
            flex-direction: row;
            gap: 30px;
          }

        }
      }
      .size-chart table[data-type="Color"] {
        display: none;
      }

    }

  }

  /* Pagination */
  .pagination {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}


/* 
  =============================
  /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
  Media Queries
  /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
  =============================
*/
@media screen and (max-width: 767px) {

  /* Topbar */
  .topbar {
    .wrapper {
      .logo.home-logo {
        opacity: 1;
      }
    }
  }
  
  /* Hero Nav */
  .hero-navigation {
  
    > .wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      width: 100%;
    }


  
    .left {
      grid-row: 2;
      overflow: hidden;

      .wrap {
        width: 100%;
        padding: 20px;
      }
  
      .title {
  
        h1 {
          text-align: right;
          padding-right: 10px;
        }
  
      }
  
      .links {
  
        ul {}

        span {}
        span:hover {}
  
      }
  
    }
  
    .right {
      grid-row: 1;
      img {
        max-width: 200px !important;
      }
  
      .floater {}

      .wiki.floater {
        transform: translateX(44vw) translateY(-25.9365%) !important;
      }
  
      .plants.floater {
        transform: translateX(5vw) translateY(0.3511%) !important;
      }
  
      .suffer.floater {
        transform: translateX(14vw) translateY(-36.786%) !important;
        max-width: 130px !important;
      }
  
    }
  
  }

  /* Home Collection */
  .home-collection {
    
    /* Gid View */
    .grid-view {
      grid-template-columns: repeat(2, 1fr);
      width: 95%;
      margin: 0 auto;
    }

    /* List View */
    .list-view {
      width: 95%;
      margin: 0 auto;
    }

    .list-view li .mobile {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;

    }
    .list-view li .desktop {
      display: none !important;
    }

  }

  /* Marquee */
  .marquee-container {
    .marquee {
      .child {
        font-size: 2rem;
        font-family: var(--mingliu);
        letter-spacing: 0px;
      }
    }
  
  }

  /* Footer */
  footer {
    display: none;
  }

  /* Single Product */
  .single-product {
    padding-top: 120px;
  
    .wrapper {
      width: 100%;
      grid-template-columns: 1fr;
    }
  
    .gallery {
      img {
        max-width: 100%;
      }
    }

    /* TITLE */
    .title.desktop {
      display: none;
    }
  
    .title.mobile {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 0 14px;

      h1 {
        font-family: var(--mingliu);
        font-size: 1.4rem;
      }
    }
  
    .product-form {
  
      .wrapper {
        display: flex;
        flex-direction: column;
      }
  
      .actions-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        width: 100%;
        border: 1px solid var(--black);
        margin: 40px 0 0 0;
        border-collapse: collapse;
  
        form {}
  
        .price {}
  
        .button {}
  
      }
  
      .description {
        display: block;
        width:  100%;
        padding: 0 14px;
  
        h3 {}
  
      }

      .option-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0 14px;
  
          h3 {}
  
          .options {}
          
      }
  
    }


  
    /* Pagination */
    .pagination {}
  
  }

  /* Cart Modal */
  .cart-modal {

    padding: 80px 0px;

    div {
      width: 100%;
    }

    /* Header */
    .header {
      
      width: 100%;
      padding: 40px 14px;

      .title {
        font-size: 1.3rem;
      }

      .logo {
        display: flex;
        justify-content: flex-end;
      }

      img {
        width: 100px;
        max-width: 100%;
        margin-top: -40%;
      }

    }

    .amount {
      span {
        text-align: right;
      }
    }

    .cart-route {
      width: 100%;
    }

    button {
      padding: 10px 20px;
      border: 1px solid var(--black);
      font-size: 1.2rem;
      border-radius: 0px !important;
    }

    span {
      text-align: center;
    }

    .cart {
      width: 100%;
    }

    .underscore {}

    .subtotal-container {
      padding: 20px;
    }

  }

  /* Line Items */
  ul.cart-items {

    text-decoration: none ;

    li.line-item {
      width: 100%;
      padding: 0 20px;

      .item-wrapper.desktop {
        display: none;
      }

      .quantity {
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
      
      .item-wrapper.mobile {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-gap: 10px;
        align-items: center;
      }

      /* Data */
      .data {

        display: flex;
        flex-direction: column;
        gap: 14px;

        .vendor {
          font-family: var(--mingliu);
        }
  
        .title {
          font-family: var(--mingliu);
        }

        .size {
          text-align: left;
        }

        .color {
          text-align: left;
        }


      }

      .actions {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        gap: 20px;

        text-decoration: none !important;

        a {
          font-size: 1rem;
          text-decoration: none !important;
          text-underline-offset: 8px;
        }
        span {
          font-size: 1rem;
          text-decoration: none !important;
          text-underline-offset: 8px;
        }

        .delete {
          button {
            height: 0px;
          }
        }
      }

      button {
        padding: 0px;
        line-height: 1;
        border: 0px;
        font-size: 1.2rem;
      }

      .quantity-container {
        display: grid;
        grid-template-columns: 1rem 1rem 1rem;
        text-align: center;
      }

    }

  }

  .credit-card-container {
    border-top: 1px solid var(--black);
    padding-top: 40px;
  }

  /* About Page */
  .about {

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      min-height: 100vh;
      padding-top: 100px;
    }
  
    h2 {
      font-size: 2rem;
    }
  
    .right {
      img {
        width: 100%;
      }
    }
  
  }

}
